<div class="jumbotron text-center">
	<h2><span class="fa fa-key"></span> We're sorry, you cannot access</h2>
	<p>{{action}}</p>
    <button onclick="history.go(-1);" class="btn btn-default"><span class="fa fa-hand-o-left"></span> Back</button>
    <button onclick="window.location.href='/logout'" class="btn btn-default"><span class="fa fa-sign-out"></span> Logout</button>
</div>
