<div class="jumbotron text-center">
	<h1><span class="fa"></span> Welcome!</h1>
	<p>Login or register with:</p>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
	<a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
</div>
